<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Wishing Well | Create User</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<div class="box-of-user-prompts">
    <h1>Sign-Up</h1>
    <form th:action="@{/create-user}" method="post" th:object="${user}">

        <!--<label>E-mail address: <input type="text" name="email"><br><br></label> -->

        <div class="text-field">
            <input th:field="*{userName}" type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="text-field">
            <input th:field="*{password}" type="password" id="password" required onchange="checkPasswordConfirmation()">
            <span></span>
            <label>Password</label>
        </div>

        <div class="text-field">
            <input type="password" id="confirm_pass" required onchange="checkPasswordConfirmation()">
            <span></span>
            <label>Confirm Password</label>
        </div>

        <input type="submit" value="Register" id="submit">

        <script>
            function checkPasswordConfirmation() {
                const password = document.getElementById('password')
                const confirmedPassword = document.getElementById('confirm_pass')
                const submit = document.getElementById('submit')

                if (password === confirmedPassword){
                    submit.disabled = false;
                }
            }
        </script>
    </form>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>