<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div th:insert="fragments/footer :: footer"></div>

<form th:action="@{/create-user}" method="post" th:object="${user}">
    <!--<label>E-mail address: <input type="text" name="email"><br><br></label> -->
    <label>Username: <input type="text" name="username"><br><br></label>
    <label>Password: <input type="password" id="password" name="password"><br><br></label>
    <input type="submit" value="Register">



</form>


</body>
</html>