<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Wishing Well | Error</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div style="text-align: center; margin-top: 100px; color: white; font-size: xx-large">Error!<br>You can't view this page.<br>You need to log in first. </div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>