<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Login</title>
</head>
<body>


<div th:insert="fragments/navbar :: navbar"></div>


<div class="sign-up-or-in">
    <h1>Login</h1>
    <div class="invalid_login" th:if="${param.error}">
        Invalid credentials
    </div>
    <div class="valid_login" th:if="${param.success}">
        Successfully logged in
    </div>
    <form th:action="@{/login}" method="post" th:object="${user}">
        <div class="text-field">
            <input th:field="*{userName}" type="text" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class="text-field">
            <input th:field="*{password}" id="password" type="password" required>
            <span></span>
            <label>Password</label>
        </div>

        <div class="checkbox">
            <input type="checkbox" onClick="togglePasswordVisibility()">
            <label>Show Password</label>
        </div>

        <!--Password visibility toggle-->
        <script>
            function togglePasswordVisibility() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }

        </script>

        <input type="submit" value="Login">

    </form>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>