<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<form action="/action_page.php">
    <label>Username: <input type="text" name="username"><br><br></label>

    <label>Password: <input id="password" type="password" name="password-field"><br><br></label>

    <input type="submit" value="Login">

    <!--Password visibility toggle -->
    <input type="checkbox" onClick="togglePasswordVisibility()">Show Password

    <script>
        function togglePasswordVisibility() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

</form>

</body>
</html>