<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>

</body>
<footer th:fragment="footer">
    <span class="footer-background">
    </span>
    <span class="footer-logo"><img src="img/well.png" height="55" width="55"></span>
    <span class="footer-right-column">
        <p class="footer-text" >Guldbergsgade 29N</p>
        <p class="footer-text" >2200 København N</p>
        <p class="footer-text" >CVR-nr.: 010104101</p>
    </span>
    <div class="footer-middle-column">
        <p class="footer-text">Wishing Well<br>Ønskelister der kan deles med alle</p>
        <a class="footer-text footer-link" href="https://www.facebook.com">Facebook</a>
        <a class="footer-text footer-link" href="https://www.twitter.com">Twitter</a>
        <a class="footer-text footer-link" href="https://www.linkedin.com">LinkedIn</a>
    </div>
</footer>
</html>