<!DOCTYPE html>
<html lang="en" xmlns:position="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar">
    <img class="navbarimage" src="img/well.png" width="35px" height="35px">
    <a href="/"><input type="button" value="home"></a>
    <a href="/login"><input type="button" value="login"></a>
    <a href="/create-user"><input type="button" value="create-user"></a>
    <a href="/create-wishlist"><input type="button" value="create-wishlist"></a>
    <a href="/wishlist"><input type="button" value="wishlist"></a>

</nav>
</body>
</html>