<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div>
<nav th:fragment="navbar">
    <img class="navbarimage" src="/img/well.png" width="35px" height="35px">
    <a href="/"><input type="button" value="Home"></a>
    <a href="/login"><input type="button" value="Login"></a>
    <a href="/wishlists"><input type="button" value="Wishlists"></a>
</nav>
</div>
</body>
</html>