nav {
    background: #1F2F98;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
}

#title {
    text-align: center;
}

#sub-title {
    text-align: center;
}

.invalid_login{
    position: absolute;
    top: 68%;
    left: 50%;
    color: red;
}

.valid_login{
    position: absolute;
    top: 68%;
    left: 50%;
    color: green;
}

.box-of-user-prompts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 350px;
    background: white;
    border-radius: 10px;
}

.box-of-user-prompts h1 {
    font-family: montserrat, sans-serif;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.box-of-user-prompts form{
    padding: 0 40px 25px 40px;
    box-sizing: border-box;
}

form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label{
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform:translateY(-50%);
    transition: .5s;
}

.text-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.text-field input:focus ~ label, .text-field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.text-field input:focus ~ span::before, .text-field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 3px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
    cursor: pointer;
}


.checkbox{
    height: 25px;
    padding: 0 0 5px 0;
}


p {
    text-align: center;
}

nav a {
    color: black;
    margin: 0px 5%;
}

input[type=button] {
    background: #1F2F98;
    color: white;
    height: 50px;
    min-width: 100px;
    padding: 0;
    border: none;
}

input[type=button]:hover {
    background-color: #2691d9;

}

nav a:hover {
    text-decoration: underline;
}


body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background: linear-gradient(0deg, #1F2F98, #2EAAFA);
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;;
    top: 50%;
    left: 50%;
    transform: translate(-50%)
}

.navbarimage {
    position: absolute;
    left: 10px;
    top: 8px;
}

.row {
    margin-top: 120px;
    display: flex;
}

.column {
    flex: 50%;
    margin-right: 30px;
    margin-left: 120px;
}

.column2 {
    flex: 50%;
    margin-right: 120px;
    margin-left: 30px;
    margin-bottom: 105px;
    text-align: justify;
    background-color: white;
    border-radius: 12px;
}


footer {
    background: #1F2F98;
    margin-top: -5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    min-height: 7em;
    max-height: 6em;
    font-size: 0.8em;
}

.footer-logo {
    margin-left: 2em;
    padding-top: 1.5em;
    object-position: bottom;
    position: fixed;
}

.footer-middle-column {
    text-align: center;
    width: 45%;
    margin: -0.5em 25% -6.5em;
}

.commentary-box input{
    width: 100%;
    padding: 0 5px;
    height: 80px;
    font-size: 16px;
    border: none;
    background: #7dafd1;
    outline: none;
    border-radius: 25px;
}

.commentary-box label{

}

.footer-right-column {
    float: right;
    width: 20%;
    margin-bottom: 10em;
    margin-top: -0.5em;
    margin-right: 1em;
}

.footer-text {
    text-align: center;
    color: white;
}

table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.create-wishlist-buttons{
    width: 200%;
    height: 200%;
}

.create-wishlist-buttons:hover{
    cursor:pointer;

}

th {
    border: 2px solid black;
    border-collapse: collapse;
    position: sticky;
    top: 0; /* Skal til for at sticky virker */
    min-width: 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

td  {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.content{
    height: 100%;
    overflow: scroll;
    margin-bottom: 150px;
}