nav {
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0px;
}

#title{
    text-align: center;
}

#sub-title{
    text-align: center;
}

p {
    text-align: center;
}

nav a {
    color: black;
    margin: 0px 5%;
}

input[type=button]{
    background-color: darkgray;
    color: white;
    height: 50px;
    min-width: 100px;
    padding: 0;
    border: none;
}

input[type=button]:hover {
    background-color: grey;

}

nav a:hover {
    text-decoration: underline;
}

body{
    margin: 0px;
}

.navbarimage{
    position:absolute;
    left:10px;
    top:8px;
}

.row{
    margin-top: 120px;
    display: flex;
}

.column {
    flex: 50%;
    margin-right: 30px;
    margin-left: 120px;
}

.column2 {
    flex: 50%;
    margin-right: 120px;
    margin-left: 30px;
    text-align: justify;
}

footer{
    background: darkgray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    min-height: 7em;
    max-height: 6em;
    font-size: 0.8em;
}

.footer-logo {
    margin-left: 2em;
    padding-top: 1.5em;
    object-position: bottom;
    position: fixed;
}
.footer-middle-column {
    text-align: center;
    width: 45%;
    margin: -0.5em 25% -6.5em;
}
.footer-right-column {
    float: right;
    width: 20%;
    margin-bottom: 10em;
    margin-top: -0.5em;
    margin-right: 1em;
}

.footer-text {
    text-align: center;
    color: white;
}

table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
    position: sticky;
    top: 0; /* Skal til for at sticky virker */
    min-width: 50px;
    background-color: grey;
    color: lightgrey;
}

td  {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: lightgrey;
}