<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>


<form th:action="@{/create-wishlist}" method="post" th:object="${wishes}">
    <div class="item-description-input">
        <input th:field="*{item_description}" id="item_description" required>
        <label>Item</label>
    </div>

    <div class="item-price-input">
        <input th:field="*{item_price}" id="item-price">
        <label>Price</label>
    </div>

    <div class="item-comment-input">
        <input th:field="*{item_comment}" id="item_comment">
        <label>Comment</label>
    </div>

    <div class="item-url-input">
        <input th:field="*{item_url}" id="item_url">
        <label>Link</label>
    </div>

    <input type="submit" value="Create Wish">

</form>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>