<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>


<div class="item-description-input">
    <form th:action="@{/create-wish}" method="post">
        <div class="item-description-input">
            <label>Beskrivelse<input name="item_description" required></label>
        </div>

        <div class="item-price-input">
            <label>Pris<input name="item-price"></label>
        </div>

        <div class="item-comment-input">
            <label>Kommentar<input name="item_comment"></label>
        </div>

        <div class="item-url-input">
            <label>Link<input name="item_url"></label>
        </div>

        <input type="submit" value="Create Wish">

    </form>

</div>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>