<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Wishlist</title>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<div>
<table class="table">
    <tr>
        <th>Nr.</th>
        <th style="width: 200px">Beskrivelse</th>
        <th style="width: 75px">Pris</th>
        <th style="width: 200px">Link</th>
        <th style="width: 200px">Kommentar</th>
        <th style="width: 75px">Reserveret</th>
    </tr>
    <tr th:each="i : ${wishlist}">
        <td th:text="${i.id}">Nr.</td>
        <td th:text="${i.description}">Beskrivelse</td>
        <td th:text="${i.price}">Pris</td>
        <td th:text="${i.itemLink}">Link</td>
        <td th:text="${i.comment}">Kommentar</td>
        <td th:text="${i.reserved}"><form th:action="@{'/wishlist/' + ${i.wishListId}}" method="post"><input type="checkbox" th:field="*{i.reserved}" name="reserved"><input type="hidden" th:value="*{i.id}" name="id"></form></td>
    </tr>
</table>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>