<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Frontpage</title>
</head>
<body>

<h1 id="title">Wishing-Well</h1>
<div th:insert="fragments/navbar :: navbar"></div>

<h2 id="sub-title">Welcome to the wishing-well!</h2>

<p>Wishing well is an easy and convenient way to write and share a wishing-list, without the hazzle of contacting everyone to make sure no one gets the same present.</p>
</body>
</html>